<html>
<head>
    <meta charset="UTF-8">
    <title>Add-Giveaway | Giveaway</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!--<script>
        function myFunction(){
            var x = document.getElementById("region").value;
            var region
            for (var i=0; i<newOptions.length; i++) {
                document.getElementById("country").append("<option>" + newOptions[i] + "</option>")
            }
        }
    </script>-->

    <script>
        function zemji(id){
            //alert("Hello");
            console.log(id);
            $.getJSON("http://localhost:8080/giveaway/countries", {
                region_id : id
                //ajax : 'true'
            }, function(data) {
                var opcii = '';
                var len = data.length;
                for ( var i = 0; i < len; i++) {
                    opcii += '<option value="' + data[i].id + '">'
                        + data[i].name + '</option>';
                }
                opcii += '</option>';
                $('#country').html(opcii);
            });
        }

        function userType(value){
            console.log(value);
            if(value=="COMPANY"){
                document.getElementById("company").hidden=false;
            }else {
                document.getElementById("company").hidden=true;
            }
        }
    </script>
</head>
<body>
<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
        <a class="navbar-brand" href="/home">Giveaway</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/home">Home
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/giveaway">Active Giveaways</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/my-profile">My profile</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<br><br><br>
<th:block xmlns:th="http://www.thymeleaf.org">
    <div class="container">
        <p th:if="${awards.size()<1}">You don't have any free awards.Create one
        <a href="/awards/add-award" class="btn btn-primary">Create Award</a></p>
        <form class="form-signin mt-xl-5" method="post" action="/giveaway/add" th:if="${awards.size()>0}">
            <h2 class="form-signin-heading">Register</h2>
            <p>
                <label for="name" class="sr-only">Name</label>
                <input type="text" id="name" name="name" class="form-control" placeholder="Giveaway Name" required="" autofocus="">
            </p>
            <p>
                <label for="startdate" class="sr-only">Start Date</label>
                <input type="date" id="startdate" name="startdate" class="form-control" placeholder="Start Date" required="" autofocus="">
            </p>
            <p>
                <label for="enddate" class="sr-only">End Date</label>
                <input type="date" id="enddate" name="enddate" class="form-control" placeholder="End Date" required="" autofocus="">
            </p>

            <div class="form-group">
                <label for="award">Award</label>
                <select name="award" id="award" class="form-control">
                    <option
                            th:each="award : ${awards}"
                            th:value="${award.getId()}"
                            th:text="${award.getName()}">
                    </option>
                </select>
            </div>

            <div class="form-group">
                <label for="region">Region</label>
                <select  class="form-control" required="required" name="region" id="region" onchange="zemji(this.value)">
                    <option disabled="disabled" selected="selected" > --
                        Region --
                    </option>
                    <option th:each="region : ${regions}" th:value="${region.id}"
                            th:text="${region.name}" >
                    </option>
                </select>
            </div>

            <div class="form-group">
                <label for="country">Country:</label>
                <select class="form-control" name="country" id="country" required="required" multiple="true" >
                    <option disabled="disabled" selected="selected" > -- Countries --</option>
                </select>
            </div>

            <div class="form-group">
                <label>Category</label>
                <select name="category" class="form-control" th:if="${categories.size()} >= 1">
                    <option
                            th:each="category : ${categories}"
                            th:value="${category.getId()}"
                            th:text="${category.getName()}">
                    </option>
                </select>
                <th-block th:if="${categories.size()} == 0">
                    <a type="button" class="btn btn-primary" href="/category/add-category">Add Category</a>
                </th-block>
            </div>

            <div class="form-group">
                <label>User-Type</label>
                <select name="user_type" class="form-control" onchange="userType(this.value)">
                    <option
                            th:each="ut : ${user_types}"
                            th:value="${ut}"
                            th:text="${ut}">
                    </option>
                </select>
            </div>

            <div id="company" hidden>

                <p>
                    <label for="companyName" class="sr-only">Name</label>
                    <input type="text" id="companyName" name="companyName" class="form-control" placeholder="Company Name">
                </p>

                <p>
                    <label for="address" class="sr-only">Name</label>
                    <input type="text" id="address" name="address" class="form-control" placeholder="Company Address">
                </p>

                <p>
                    <label for="desc" class="sr-only">Name</label>
                    <input type="text" id="desc" name="desc" class="form-control" placeholder="Company Description">
                </p>
            </div>

            <button class="btn btn-lg btn-primary btn-block" type="submit">Make a giveaway</button>
        </form>
        <a href="/giveaway" class="btn btn-block btn-light">Back</a>
    </div>
</th:block>
</body>
</html>