<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<div class="container mb-4">
    <div class="row">
        <div class="col-12" th:if="${giveawayList.size() > 0}">
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th scope="col">Giveaway name</th>
                        <th scope="col">Start Date</th>
                        <th scope="col">End Date</th>
                        <th scope="col">Award Name</th>
                        <th scope="col">Creator</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="giveaway : ${giveawayList}" class="product">
                        <td th:text="${giveaway.getName()}"></td>
                        <td th:text="${giveaway.getStartDate()}"></td>
                        <td th:text="${giveaway.getEndDate()}"></td>
                        <td th:text="${giveaway.award.getName()}"></td>
                        <td th:text="${giveaway.creator.getName()}"></td>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
</body>
</html>