<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Giveaway List</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

</head>
<body>
<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top mb-2">
    <div class="container">
        <a class="navbar-brand" href="/home">Giveaway</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/home">Home</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/giveaway">Active Giveaways
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/awards">My Awards
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/my-profile">My profile</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/logout">
                        <i class="fa fa-shopping-cart"></i> Logout
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="container">
    <br><br><br>
    <form>
        <select id="categorySearch" name="categorySearch">
            <option value="all">All</option>
            <option th:each="category:${categoryList}" th:value="${category.getName()}" th:text="${category.getName()}"></option>
        </select>
        <button id="filter" type="submit" class="btn btn-success" style="height: 30px;font-size: 13px;width: 65px;margin-top: -0.5%;">Filter</button>
    </form>
</div>
<br/>
<div class="container">
    <a href="/giveaway/add-giveaway" class="btn btn-primary">Add new Giveaway</a>

    <p th:if="${giveawayList.size()<1}">
        You don't have giveaways to participate to.
    </p>
</div>
<br/>
<div class="container mb-4 threeGrid">
        <span th:if="${giveawayList.size() > 0}"  >

            <span th:each="giveaway : ${giveawayList}" class="col-md-4" style="float: left">

                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" th:src="${giveaway.getAward().getUrl()}" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title" th:text="${giveaway.getName()}"></h5>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item" th:text="${giveaway.getStartDate()}">Start Date:</li>
                        <li class="list-group-item" th:text="${giveaway.getEndDate()}">End Date:</li>
                    </ul>
                    <div class="card-body">
                        <a th:href="@{'/giveaway/details/{id}' (id=${giveaway.getId()})}"
                           class="btn btn-sm btn-info edit-product">
                                        <i class="fa fa-trash">Details</i>
                        </a>


                        <form th:action="@{'/giveaway/add-participant/{id}' (id=${giveaway.getId()})}" th:method="POST">
                                    <button type="submit"
                                            class="btn btn-sm btn-primary cart-product">
                                        <i class="fa fa-trash">Participate</i>
                                    </button>
                                </form>

                    </div>
                </div>

            </span>


        </span>



</div>
</body>
</html>