<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Giveaway | My Profile</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <script>
        function openCity(cityName) {
            var i;
            var x = document.getElementsByClassName("city");
            for (i = 0; i < x.length; i++) {
                x[i].style.display = "none";
            }
            document.getElementById(cityName).style.display = "block";
        }
    </script>
</head>
<body>
<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top mb-2">
    <div class="container">
        <a class="navbar-brand" href="/home">Giveaway</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/home">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/giveaway">Active Giveaways</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/awards">My Awards
                    </a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/my-profile">My profile
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/logout">
                        <i class="fa fa-shopping-cart"></i> Logout
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="container">
<br/><br/><br/>
<h4>User Info:</h4>
<div class="card-body">
    <div class="card-text">
        <form class="form-signin mt-xl-5" method="POST" th:action="@{'/my-profile/edit'}">
<dl class="dl-horizontal row" style="border: 5px;border-style: inset;">
    <dt class="col-sm-3 text-md-right">
        Username:
    </dt>

    <dd class="col-sm-9" th:text="${user.getUsername()}">

    </dd>
    <dt class="col-sm-3 text-md-right">
        Name:
    </dt>

    <dd  class="col-sm-9"  th:if="${editUser == false}" th:text="${user.getName()}"></dd>
    <dd class="col-sm-9" th:if="${editUser == true}"> <input type="text"
                                                             id="name"
                                                             name="name"
                                                             class="form-control"
                                                             placeholder="Enter Name"
                                                             th:value="${user?.getName()}"
                                                             required="" autofocus=""></dd>

    <dt class="col-sm-3 text-md-right">
        Surname:
    </dt>

    <dd class="col-sm-9" th:if="${editUser == false}" th:text="${user.getSurname()}"></dd>
    <dd class="col-sm-9" th:if="${editUser == true}"> <input type="text"
                                          id="surname"
                                          name="surname"
                                          class="form-control"
                                          placeholder="Enter Surname"
                                          th:value="${user?.getSurname()}"
                                          required="" autofocus=""></dd>
    <dt class="col-sm-3 text-md-right">
        Address:
    </dt>

    <dd  class="col-sm-9" th:if="${editUser == false}" th:text="${user.getAddress()}"></dd>
    <dd class="col-sm-9" th:if="${editUser == true}"> <input type="text"
                                                             id="address"
                                                             name="address"
                                                             class="form-control"
                                                             placeholder="Enter Address"
                                                             th:value="${user?.getAddress()}"
                                                             required="" autofocus=""></dd>

    <dt class="col-sm-3 text-md-right">
        Email:
    </dt>

    <dd  class="col-sm-9" th:if="${editUser == false}"  th:text="${user.getEmail()}"></dd>
    <dd class="col-sm-9" th:if="${editUser == true}"> <input type="text"
                                                             id="email"
                                                             name="email"
                                                             class="form-control"
                                                             placeholder="Enter Email"
                                                             th:value="${user?.getEmail()}"
                                                             required="" autofocus=""></dd>
    <dt class="col-sm-3 text-md-right">
        Phone:
    </dt>

    <dd  class="col-sm-9" th:if="${editUser == false}"  th:text="${user.getPhone()}"></dd>
    <dd class="col-sm-9" th:if="${editUser == true}"> <input type="text"
                                                             id="phone"
                                                             name="phone"
                                                             class="form-control"
                                                             placeholder="Enter Email"
                                                             th:value="${user?.getPhone()}"
                                                             required="" autofocus=""></dd>
    <dt class="col-sm-3 text-md-right"></dt>
    <dd>
        <a th:href="@{'/my-profile/editbutton'}"
           class="btn btn-sm btn-info edit-product">
            <i class="fa fa-trash">Edit</i>
        </a>
    </dd>
    <dd style="margin-left: 1%;">
    <th-block th:if="${editUser == true}">
    <button class="btn btn-sm btn-block btn-success" type="submit">Save Changes</button>
    </th-block>
    </dd>

</dl>
        </form>
        </div>
</div>


<div class="w3-bar w3-black" style="background-color: #7fba94!important;">
    <button class="w3-bar-item w3-button" onclick="openCity('London')">My giveaways waiting for winner</button>
    <button class="w3-bar-item w3-button" onclick="openCity('Paris')">My active giveaways</button>
    <button class="w3-bar-item w3-button" onclick="openCity('Tokyo')">My finished giveaways</button>
</div>

<div id="London" class="w3-container city">
    <div class="row">
        <div class="col-12" th:if="${giveawaysWaitingForWinner.size() > 0}">
            <h3>My giveaways waiting for winner</h3>
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th scope="col">Giveaway name</th>
                        <th scope="col">Start Date</th>
                        <th scope="col">End Date</th>
                        <th scope="col">Award Name</th>
                        <th scope="col">Creator</th>
                        <th></th>

                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="giveaway : ${giveawaysWaitingForWinner}" class="product">
                        <td th:text="${giveaway.getName()}"></td>
                        <td th:text="${#dates.format(giveaway.getStartDate(), 'dd-MM-yyyy')}"></td>
                        <td th:text="${#dates.format(giveaway.getEndDate(), 'dd-MM-yyyy')}"></td>
                        <td th:text="${giveaway.award.getName()}"></td>
                        <td th:text="${giveaway.creator.getName()}"></td>
                        <td><a th:href="@{'/giveaway/details/{id}' (id=${giveaway.getId()})}"
                               class="btn btn-sm btn-info edit-product">
                            <i class="fa fa-trash">Details</i>
                        </a></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<div id="Paris" class="w3-container city" style="display:none">
    <div class="row">
        <div class="col-12" th:if="${activeGiveawayList.size() > 0}">
            <h3>My active giveaways</h3>
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th scope="col">Giveaway name</th>
                        <th scope="col">Start Date</th>
                        <th scope="col">End Date</th>
                        <th scope="col">Award Name</th>
                        <th scope="col">Creator</th>
                        <th></th>

                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="giveaway : ${activeGiveawayList}" class="product">
                        <td th:text="${giveaway.getName()}"></td>
                        <td th:text="${#dates.format(giveaway.getStartDate(), 'dd-MM-yyyy')}"></td>
                        <td th:text="${#dates.format(giveaway.getEndDate(), 'dd-MM-yyyy')}"></td>
                        <td th:text="${giveaway.award.getName()}"></td>
                        <td th:text="${giveaway.creator.getName()}"></td>
                        <td><a th:href="@{'/giveaway/details/{id}' (id=${giveaway.getId()})}"
                               class="btn btn-sm btn-info edit-product">
                            <i class="fa fa-trash">Details</i>
                        </a></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<div id="Tokyo" class="w3-container city" style="display:none">
    <div class="row">
        <div class="col-12" th:if="${finishedGiveawayList.size() > 0}">
            <h3>My finished giveaways</h3>
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th scope="col">Giveaway name</th>
                        <th scope="col">Start Date</th>
                        <th scope="col">End Date</th>
                        <th scope="col">Award Name</th>
                        <th scope="col">Creator</th>
                        <th></th>

                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="giveaway : ${finishedGiveawayList}" class="product">
                        <td th:text="${giveaway.getName()}"></td>
                        <td th:text="${#dates.format(giveaway.getStartDate(), 'dd-MM-yyyy')}"></td>
                        <td th:text="${#dates.format(giveaway.getEndDate(), 'dd-MM-yyyy')}"></td>
                        <td th:text="${giveaway.award.getName()}"></td>
                        <td th:text="${giveaway.creator.getName()}"></td>
                        <td><a th:href="@{'/giveaway/details/{id}' (id=${giveaway.getId()})}"
                               class="btn btn-sm btn-info edit-product">
                            <i class="fa fa-trash">Details</i>
                        </a></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
</div>
</body>
</html>